Screen {
    background: $background-darken-1;
}


#logo_and_contentswitcher{
    dock: top; /* set as fixed as subtracted from total screen size (helpful for height measures)*/
    margin-top: 1;
    height: 3;
    padding: 0 2;
    align-vertical: middle;
}


/* dont modify the min-width;it helps overides textual's defualt higher value min width for buttons ; also content-align is for text alignment*/
Button {
    content-align: center middle;  
    height: auto;                 
    min-width: 5;                
}

#terminal_button, #info_button {
    height: 3;
    width: 5;
    background: $background-darken-1;
    border: round $background-darken-1 ;
}

.active_button {
    border: round $accent-darken-1 ;
    color: $accent-darken-1 ;
}

ContentSwitcher {
    height: 1fr;
    border: round $background;
}

TerminalScreen {
    height: 1fr;
    /*border: round $background;*/
    margin-bottom: 1;
}

#terminal_screen {
    background: $background-darken-1 ;
    overflow-x: hidden;
}

StatusBar {
    height: 2;
    align: center middle;
}

#status-line{
    color: $primary-darken-1;
    background: $background-darken-1;
    width:auto;
}

#loading_bar {
    width: 10;
    height: 1;
    padding: 0 1;
}

UserInput {
    height: 7;
}

#input_box {
    padding: 1 2;
    border: round $primary-darken-2;
    background: $background-darken-1;
    border-title-color: #ADFF2F;
}

